#
# Ci-dessous les variables pour configurer les conteneurs de convergence-bacon-docker
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#
SPRING_PROFILES_ACTIVE=dev
LOG_ELASTIC_ENABLED=false
KBART2KAFKA_VERSION=develop-kbart2kafka
BEST_PPN_API_VERSION=develop-best-ppn-api
SUDOC_API_VERSION=develop-sudoc-api
KAFKA2SUDOC_VERSION=develop-kafka2sudoc
LOGSKBART_API_VERSION=develop-logskbart-api
BACON_PROVIDER_API_VERSION=develop-bacon-provider-api

#   Variable Globale
SERVEUR_URL=
MEM_LIMIT=5g
CPU_LIMIT=5
PATH_LIBS=./volumes/libs
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_REGISTRY_URL=
KAFKA_CONCURRENCY_NBTHREAD=
MAIL_WS_URL=
MAIL_WS_RECIPIENT_KBART_2_SUDOC=
MAIL_WS_RECIPIENT_KBART_2_BACON=
BACON_JDBCURL=
BACON_USERNAME=
BACON_PASSWORD=
BASEXML_JDBCURL=
BASEXML_USERNAME=
BASEXML_PASSWORD=

##############################################
#   KBART2KAFKA
##############################################
KBART2KAFKA1_PORT=
KBART2KAFKA2_PORT=
KBART2KAFKA_JAVA_OPTIONS="-XX:MaxRAMPercentage=90"

##############################################
#   BEST PPN API
##############################################
BEST_PPN_API_HTTP_PORT=
BEST_PPN_API_JAVA_OPTIONS="-XX:MaxRAMPercentage=90"

######################################################
# SUDOC-API
######################################################
SUDOC_API_HTTP_PORT=
SUDOC_API_LOGGING_LEVEL=INFO
SUDOC_API_JAVA_OPTIONS=-Xms512m -Xmx512m
API_SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=100

##############################################
#   KAFKA2SUDOC
##############################################
KAFKA2SUDOC_SUDOC_SERVEUR=
KAFKA2SUDOC_SUDOC_PORT=
KAFKA2SUDOC_SUDOC_PASSWORD=
KAFKA2SUDOC_SUDOC_LOGIN=
KAFKA2SUDOC_SUDOC_SIGNALDB=
KAFKA2SUDOC_JAVA_OPTIONS="-XX:MaxRAMPercentage=90"

##############################################
#   BACON PROVIDER API
##############################################
BACON_PROVIDER_API_HTTP_PORT=15086
BACON_PROVIDER_API_JAVA_OPTIONS="-XX:MaxRAMPercentage=90"

##############################################
#   LOGSKBART API
##############################################
LOGSKBART_API_PATH_TSVFILE=
ABES_NBTHREAD=
LOGSKBART_API_HTTP_PORT=
LOGSKBART_KIBANA_PORT=
LOGSKBART_ES_PORT=
LOGSKBART_API_JAVA_OPTIONS="-XX:MaxRAMPercentage=90"

##############################################
#   WATCHTOWER
##############################################
WATCHTOWER_RUN_ONCE=true
WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/xxx/yyyyyyyyyyyyyyy
WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=local convergence-bacon-watchtower
WATCHTOWER_DOCKERHUB_USER=
WATCHTOWER_DOCKERHUB_PASS=
